@use 'sass:math';

$utilities: (
    "padding": (
        "prefix": "p",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 3,
            "4": $base-padding * 4,
            "5": $base-padding * 5,
        )
    ),
    "padding-top": (
        "prefix": "pt",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 3,
            "4": $base-padding * 4,
            "5": $base-padding * 5,
        )
    ),
    "padding-bottom": (
        "prefix": "pb",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 3,
            "4": $base-padding * 4,
            "5": $base-padding * 5,
        )
    ),
    "padding-left": (
        "prefix": "pl",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 3,
            "4": $base-padding * 4,
            "5": $base-padding * 5,
        )
    ),
    "padding-right": (
        "prefix": "pr",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 3,
            "4": $base-padding * 4,
            "5": $base-padding * 5,
        )
    ),
    "margin": (
        "prefix": "m",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 3,
            "4": $base-margin * 4,
            "5": $base-margin * 5,
        )
    ),
    "margin-top": (
        "prefix": "mt",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 3,
            "4": $base-margin * 4,
            "5": $base-margin * 5,
        )
    ),
    "margin-bottom": (
        "prefix": "mb",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 3,
            "4": $base-margin * 4,
            "5": $base-margin * 5,
        )
    ),
    "margin-left": (
        "prefix": "ml",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 3,
            "4": $base-margin * 4,
            "5": $base-margin * 5,
        )
    ),
    "margin-right": (
        "prefix": "mr",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 3,
            "4": $base-margin * 4,
            "5": $base-margin * 5,
        )
    ),
    "opacity": (
        "prefix": "opacity",
        "values": (
            "10": 0.1,
            "20": 0.2,
            "30": 0.3,
            "40": 0.4,
            "50": 0.5,
            "60": 0.6,
            "70": 0.7,
            "80": 0.8,
            "90": 0.9,
            "100": 1,
        )
    ),
    "border": (
        "prefix": "border",
        "values": (
            "none": none,
            "solid": solid,
            "dotted": dotted,
            "dashed": dashed,
            "double": double,
        )
    ),
    "border-width": (
        "prefix": "bw",
        "values": (
            "0": 0,
            "1": $base-border-thickness,
            "2": $base-border-thickness * 2,
            "3": $base-border-thickness * 3,
            "4": $base-border-thickness * 4,
            "5": $base-border-thickness * 5,
            "thin": thin,
            "medium": medium,
            "thick": thick,
        )
    ),
    "border-bottom": (
        "prefix": "b",
        "values": (
            "bottom": solid,
        )
    ),
    "border-left": (
        "prefix": "b",
        "values": (
            "left": solid,
        )
    ),
    "border-radius": (
        "prefix": "br",
        "values": (
            "none": 0,
            "xs": math.div($base-border-radius, 4),
            "sm": math.div($base-border-radius, 2),
            "md": $base-border-radius,
            "lg": $base-border-radius * 2,
            "rounded-pill": 1.5rem,
            "rounded": 50%,
        )
    ),
    "display": (
        "prefix": "display",
        "values": (
            "n": none,
            "b": block,
            "f": flex,
            "i": inline,
            "ib": inline-block,
            "g": grid,
        )
    ),
    "font-size": (
        "prefix": "font",
        "values": (
            "sm": $base-font-size * 0.75,
            "md": $base-font-size,
            "lg": $base-font-size * 1.5,
            "xl": $base-font-size * 2,
            "xxl": $base-font-size * 3,
            "3xl": $base-font-size * 4,
        )
    ),
    "font-weight": (
        "prefix": "fw",
        "values": (
            "light": 300,
            "normal": 400,
            "medium": 500,
            "bold": 700,
            "extrabold": 900,
        )
    ),
    "line-height": (
        "prefix": "lh",
        "values": (
            "1": $base-line-height * 0.75,
            "2": $base-line-height,
            "3": $base-line-height * 1.5,
            "4": $base-line-height * 2,
            "5": $base-line-height * 3,
        )
    ),
    "text-align": (
        "prefix": "ta",
        "values": (
            "left": left,
            "center": center,
            "right": right,
            "justify": justify,
        )
    ),
    "height": (
        "prefix": "h",
        "values": (
            "onehalf": $base-height * 0.5,
            "1": $base-height,
            "2": $base-height * 1.25,
            "3": $base-height * 1.5,
            "4": $base-height * 2,
            "5": $base-height * 2.5,
            "6": $base-height * 3,
            "7": $base-height * 3.5,
            "8": $base-height * 4,
            "9": $base-height * 4.5,
            "10": $base-height * 5,
            "auto": auto,
            "half": 50%,
            "full": 100%,
            "screen": 100vh,
            "min-fit": min-content,
            "max-fit": max-content,
            "fit": fit-content,
        )
    ),
    "width": (
        "prefix": "w",
        "values": (
            "onehalf": $base-width * 0.5,
            "1": $base-width,
            "2": $base-width * 1.25,
            "3": $base-width * 1.5,
            "4": $base-width * 2,
            "5": $base-width * 2.5,
            "6": $base-width * 3,
            "7": $base-width * 3.5,
            "8": $base-width * 4,
            "9": $base-width * 4.5,
            "10": $base-width * 5,
            "auto": auto,
            "half": 50%,
            "full": 100%,
            "screen": 100vw,
            "min-fit": min-content,
            "max-fit": max-content,
            "fit": fit-content,
        )
    ),
    "cursor": (
        "prefix": "c",
        "values": (
            "pointer": pointer,
            "not-allowed": not-allowed,
        )
    ),
    "z-index": (
        "prefix": "z-index",
        "values": (
            "0": 0,
            "10": 10,
            "20": 20,
            "30": 30,
            "40": 40,
            "50": 50,
            "auto": auto,
        )
    ),
);

// Loop through the utilities map to generate CSS classes
@each $utility, $properties in $utilities {
    $prefix: map-get($properties, "prefix");
    $values: map-get($properties, "values");
    
    @each $key, $value in $values {
      .#{$prefix}-#{$key} {
        #{$utility}: $value;
      }
    }
}