@mixin image {
    max-width: 100%;
    transform-origin: center;
    height: 16rem;;
    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: cover;
}

.standard-img {
    width: 100%;
    overflow: hidden;

    img {
        @include image;
    }
}

.animated-img {
    overflow: hidden;

    img {
        @include image;
        transform: scale(1.15);
        opacity: 0.9;
        cursor: pointer;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: scale(1.03);
            opacity: 1;
        }
    }
}